﻿@using RapPhim.Model.Entities
@model IEnumerable<Movie>

<div class="scroll_bar">
    <div class="blind">
        <h4 id="title_h4">Đặt vé trước</h4>
    </div>
    <ul class="movie_list">
        @foreach (var item in Model)
        {
            <li><a onclick="LoadLichChieu(@item.Id)" class="mov10782"><span class="grade_18">18</span><em>@item.Name</em></a></li>
        }
    </ul>
</div>