﻿@using RapPhim.Model.Entities
@model IEnumerable<Schedule>

<ul class="theater_time list10849" screendiv="100">
    @foreach (var item in Model)
    {
        <li>
            <a onclick="LoadSeat('@item.MovieId', '@item.Id')" class="btn btn-primary time_active t0" data-toggle="modal" data-target="#exampleModal">
                <span class="cineD2 brand">
                    <em>@item.Room.Name</em>
                </span><span class="clock">
                    @item.Schedule_Cate.Time
                           <span> ~ @item.Schedule_Cate.Time + @item.Movie.Duration</span>
                </span>
            </a>
        </li>
   }
</ul>