﻿@using RapPhim.Model.ViewModels
@model IEnumerable<SeatView>
@{
    int columnInrow = 1;
}

<div class="mseat_wrap">
    <div class="mseat_inner">
        <div class="alarm_special" style="display: block;"><p class="alarm_txt">You have selected the VIP Seat</p><a href="javascript:void(0);" class="btn_close"><img src="/LCHS/image/Btn/btn_close02.gif" alt="Đóng"></a></div>
        <div class="screen_box">
            <strong class="screen_tit">Screen</strong>
            <div class="screen_scroll">
                <div class="screen_Fbox seatSet1">
                    <span class="floor_tit" style="display: none;"><em>3F</em></span>
                    <div class="seat_Barea">
                        <div class="screen_Fbox seatSet1">
                            <span class="floor_tit" style="display: none;"><em>3F</em></span>
                            <div class="seat_Barea">
                                <div class="seat_area" style="height: 359px; margin-left: 303px;">
                                    @foreach (var item in Model)
                                    {
                                        if (columnInrow % 3 == 0)
                                        {
                                            <span class="seat_tit" style="left: -30px; top: 338px;">N</span>
                                        }
                                        <a class="p0 grNum3" data-column="@item.ColumnSeat" data-row="@item.Row" seat-statuscode="@item.StatusForOrder" seat-type="@item.Type" style="left: @((columnInrow*24).ToString()+"px"); top: 0px;" title="@(item.ColumnSeat+item.Row.ToString())">@(item.ColumnSeat+item.Row.ToString())</a>
                                        columnInrow++;
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="seat_eBox">
                <ul class="seat_txt">
                    <li class="Lang-LBL1008">Nhấp lại vào chỗ ngồi đã chọn để hủy.</li>

                </ul>
                <ul class="seat_info">
                    <li class="s1 Lang-LBL1010">Lối vào</li>
                    <li class="s2 Lang-LBL1011">Ghế đã chọn</li>
                    <li class="s3 Lang-LBL1012">Ghế có thể chọn</li>
                    <li class="s4 Lang-LBL1013">Ghế đã mua</li>
                    <li class="s5 Lang-LBL1014">Ghế không thể chọn</li>
                </ul>
            </div>
        </div>
    </div>
</div>
