﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="content" class="ticket_booking">
    <!-- cont_ticket -->
    <div class="cont_ticket">
        <div class="cont_ticket_Area">

            <!-- Calendar-->
            <div class="calendar">
                <input type="date" id="dateSearch" name="dateSearch" min="2021-10-01" max="2022-10-20">
                <button onclick="searchPhim()">Tìm</button>
            </div>
            <!-- //Calendar end -->
            <!-- ticket_inner -->
            <div class="ticket_inner">
                <!-- ticket_step -->
                <div class="ticket_step">
                    <div class="ticket_left">
                        <!-- 2016.05.03 웹접근성 -->
                        <div class="blind">
                            <h3>Rạp chiếu phim</h3> <!--영화관-->
                        </div>

                        <dl class="theater_header">
                            <dt class="Lang-LBL0001">Lịch chiếu</dt>
                            <dd class="txt_add"></dd> <!-- 최대 2개까지 선택 가능 -->
                        </dl>
                        <div class="theater_cont">
                            <div class="tab_srcoll">
                                <div class="schedule_cont" id="lstSchedule">
                                </div>
                            </div>
                        </div>
                        <!-- // 0811 마크업 전체 수정 -->
                    </div>
                    <div class="ticket_right">
                        <dl class="theater_header">
                            <dt class="Lang-LBL0011">Danh sách phim</dt>
                            <dd class="txt_add"></dd> <!-- 최대 2편까지 선택 가능 -->
                        </dl>
                        <div class="movie_cont" id="lstPhim">
                        </div>
                    </div>
                </div>
                <!--// ticket_step -->
            </div>
            <!--// ticket_inner -->
            <!-- //Movie Data -->
        </div>
    </div>
    <!-- //cont_ticket end -->
    <!-- Movie select -->
    <div class="selectMv">
        <!-- 선택후 -->
        <div class="selectMv_Area">
            <dl class="txtdate">
                <dt class="Lang-LBL0015"></dt>
                <dd class="viewCinemaDate"></dd>
            </dl>
            <dl class="txtCin">
                <dt class="Lang-LBL0001"></dt>
                <dd>
                    <span class="Lang-LBL0017"></span>
                    <ul class="listMv viewCinemaList">
                    </ul>
                </dd>
            </dl>
            <dl class="txtName">
                <dt class="Lang-LBL0011"></dt>
                <dd>
                    <span class="Lang-LBL0019"></span>
                    <ul class="listMv viewMovieList">
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
    
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width:1000px" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="listseat">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
    <!-- //Movie select end -->
</div>
<script>
    $(document).ready(function () {
        var today = new Date();
        var dd = String(today.getDate()).padStart(2,'0');
        var mm = String(today.getMonth() + 1).padStart(2,'0');
        var yyyy = today.getFullYear();
        today = yyyy + '-' + mm + '-' + dd;
        LoadPhim(today);
    });

    function searchPhim() {
        LoadPhim($("#dateSearch").val());
    }

    function LoadPhim(datestring) {
        $.ajax({
            url: "@Url.Action("ListPhim", "Home")",
             async: true,
             type: 'GET',
            data: { date: datestring },
            contentType: 'application/html ; charset:utf-8',
            dataType: 'html',
             success: function (result) {
                 $("#lstPhim").empty().html(result);
                 $(".preloader").css("display", "none");
             },
             error: function (error) {
                 $(".preloader").css("display", "none");
             }
        });
    }
        
    function LoadLichChieu(idphim) {
        var datestring = $("#dateSearch").val();
        $.ajax({
            url: "@Url.Action("LoadLichChieu", "Home")",
             async: true,
             type: 'GET',
            data: { movieId:idphim, date: datestring },
            contentType: 'application/html ; charset:utf-8',
            dataType: 'html',
             success: function (result) {
                 $("#lstSchedule").empty().html(result);
                 $(".preloader").css("display", "none");
             },
             error: function (error) {
                 $(".preloader").css("display", "none");
             }
        });
    }
        
    function LoadSeat(idphim,scheduleId) {
        $.ajax({
            url: "@Url.Action("LoadSeat", "Home")",
             async: true,
             type: 'GET',
            data: { movieId:idphim, scheduleId: scheduleId },
            contentType: 'application/html ; charset:utf-8',
            dataType: 'html',
             success: function (result) {
                 $("#listseat").empty().html(result);
                 $(".preloader").css("display", "none");
             },
             error: function (error) {
                 $(".preloader").css("display", "none");
             }
        });
    }    
</script>