.ad-banner.full_banner {width:100%; }
.ad-banner.banner_type01 .wrap_banner {position:relative;width:980px;margin:0 auto;}
.ad-banner.banner_type02 .wrap_banner {width:980px; margin:20px auto 0;}
.wrap_banner .btn_close {width:13px; height:13px; background-image:url('http://www.lottecinemavn.com/LCHS/construction.html'); position:absolute; font:0/0 a; top:15px; right:0;}

/*ì˜ˆë§¤í•˜ê¸°*/
.ad-banner.wing_banner {position:absolute; top:145px; width:160px; height:300px; }
.ad-banner.wing_banner.left_banner {left:50%; margin-left:-660px;}
.ad-banner.wing_banner.right_banner {right:50%; margin-right:-660px;}

/*ì˜í™” ìƒì˜ì‹œê°„í‘œ*/
.cont_ticket_Area .tab_st08 {margin-top:20px;}
.time_wrap .time_line .btn_more_show {display:none;}
.time_wrap .time_line.time-hide .btn_more_show {display:block;}
.time_wrap .time_line.time-hide dl {display:none;}
.time_wrap .time_line.time-hide .time_noData + dl ,
.time_wrap .time_line.time-hide .time_noData + dl + dl ,
.time_wrap .time_line.time-hide .time_noData + dl + dl + dl ,
.time_wrap .time_line.time-hide .time_noData + dl + dl + dl + dl {display:block;}
.time_wrap .time_line.time-hide .time_noData + .btn_more_show {display:none;}
.time_wrap .time_line.time-hide .btn_more_show {margin-top:40px;}

/*ì˜í™”ê´€*/
.sub_visual {overflow:hidden;position:relative;}
.spanSubVisual {background:#000;}
.spanSubVisual .wrap-bg-video {opacity:0.8; height:100%;}
.spanSubVisual .wrap-bg-video video {height:100%;}
.screen_cwrap .curr_list.movie_clist .btn_more_show {width:980px; margin-left:20px;}
.screen_cwrap .curr_list.movie_clist .btn_more_show {display:none;}
.screen_cwrap .curr_list.movie_clist.movie-hide .btn_more_show {display:block;}
.screen_cwrap .curr_list.movie_clist.movie-hide li {display:none;}
.screen_cwrap .curr_list.movie_clist.movie-hide li:first-child ,
.screen_cwrap .curr_list.movie_clist.movie-hide li:first-child + li ,
.screen_cwrap .curr_list.movie_clist.movie-hide li:first-child + li + li ,
.screen_cwrap .curr_list.movie_clist.movie-hide li:first-child + li + li + li ,
.screen_cwrap .curr_list.movie_clist.movie-hide li:first-child + li + li + li + li ,
.screen_cwrap .curr_list.movie_clist.movie-hide li:first-child + li + li + li + li + li ,
.screen_cwrap .curr_list.movie_clist.movie-hide li:first-child + li + li + li + li + li + li ,
.screen_cwrap .curr_list.movie_clist.movie-hide li:first-child + li + li + li + li + li + li + li {display:block;}


.displays {display:none;}