﻿

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />   
    <title>Mua sắm trước | Tin tức | Lotte Cinema</title>
    <link rel="stylesheet" type="text/css" href="~/web_user/LCHS/CSS/reset1a54.css?t=20180508001" />
    <link rel="stylesheet" type="text/css" href="~/web_user/LCHS/CSS/common2d44.css?t=20211201001" />
    <link rel="stylesheet" type="text/css" href="~/web_user/LCHS/CSS/bannerbdd7.css?t=2017007050001" />
    <link href="~/web_user/LCHS/CSS/bannerbdd7.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/web_user/LCHS/CSS/swiper.minbdd7.css?t=2017007050001" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/web_user/LCHS/Script/Common/jquery-1.11.3.min.js"></script>
    <script src="~/web_user/LCHS/Script/Common/jquery-ui.min.js"></script>
    <script src="~/web_user/LCHS/Script/Common/jquery.jplayer.min5f47.js?v=201704120011"></script>
    <script src="~/web_user/LCHS/Script/Common/jquery.cookie.js"></script>
    <script src="~/web_user/LCHS/Script/Library/json2.js"></script>
    <script src="~/web_user/LCHS/Script/Common/StringBuilder.js"></script>
    <script src="~/web_user/LCHS/Script/Common/Util.js"></script>
    <script src="~/web_user/LCHS/Script/Common/swiper.minbdd7.js?t=2017007050001"></script>        
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <link rel="shortcut icon" type="image/x-icon" href="https://www.lottecinemavn.com/LCHS/Image/Icon/favicon.ico?v=18040901" />
</head>
<body>
    <!-- wrap -->
    <div id="wrap">
        <!-- HEADER area -->
        @Html.Partial("_PartialHeader")
        <!-- HEADER area -->

        <div id="container" class="sub">
            <!-- 2016.05.03 장차법 -->
            <div class="blind">
                <h2>Đặt vé</h2> <!--예매하기-->
            </div>

            <!-- content -->
            @RenderBody()
            <!-- //content -->
        </div>

        <!-- Content -->
        <!-- footer -->
        @Html.Partial("_PartialFooter")
        <!-- //footer -->
    </div>


    <!--// wrap -->
    <!-- </form> -->

    <script src="~/web_user/LCHS/Script/Common/ticketReservationCookiedf0e.js?v=20170517001"></script>
    <script src="~/web_user/LCHS/Script/Common/Commonc2e4.js?v=20180503001"></script>
    <script src="~/web_user/LCHS/Script/Common/design-1.0.mina3f6.js?v=20180508001"></script>
    <script src="~/web_user/LCHS/Script/Common/Model111c.js?v=20180223002"></script>
    <!-- Wise log -->
    <script src="~/web_user/LCHS/Script/Common/wlo1303.js?v=201605231600" type="text/javascript"></script>
    <script type="text/javascript" src="~/web_user/LCHS/Script/Common/aes.js"></script>

    <!-- 20161006 Facebook Pixel 적용 -->
</body>

</html>

