﻿<div class="header">
    <!-- 롯데시네마 APP 20180409 -->
    <div class="laypop_evtAPPqr">
        <a class="app" href="javascript:;" title="Hướng dẫn cài đặt ứng dụng Lotte Cinema App QR Code">Lotte Cinema APP</a> <!--롯데시네마 앱 설치 QR Code 안내-->
        <div class="laypop_lottecinemaapp">
        </div>
    </div>
    <!--// 롯데시네마 APP 20180409 -->
    <!-- 페이스북 툴팁 20161102 -->
    <div class="laypop_evtFB">
        <a href="https://www.facebook.com/LotteCinema" target="_blank" title="Lotte Cinema Facebook">Lotte Cinema Facebook</a>
        <div class="laypop_FB" style="display:none;">Tin tức mới nhất, sự kiện xem trước!</div> <!--최신 개봉작 속보, 시사회 초청 이벤트!-->
    </div>

    <!-- luncher area -->
    <div class="luncher">
        <ul>
            <li>
            </li>
            <li>
                <a id="lbtnLogin" title="Đăng nhập" href="javascript:__doPostBack(&#39;ctl00$ctl00$lbtnLogin&#39;,&#39;&#39;)">Đăng nhập</a>
            </li>

            <!-- 20161222 - Util 영역 개선 -->


            <li><a href="javascript:goToMembershipMenu(0,4,1);" id="topMembership" title="Thẻ thành viên">Thẻ th&#224;nh vi&#234;n</a></li> <!--멤버십-->
            <li><a href="javascript:goCustomerCenterMenu('0');" id="topCustomerService" title="Hỗ trợ khách hàng">Hỗ trợ kh&#225;ch h&#224;ng</a></li> <!--고객센터-->
            <li class="lang">
                <a href="#" id="LanguageSetting"></a>
            </li>
        </ul>
    </div>
    <!-- //luncher area -->
    <!-- Logo area -->
    <div class="logo">
        <!-- 2016.05.03 장착법 -->
        <h1>
            <a href="https://www.lottecinemavn.com/LCHS/index.aspx">
                <img src="~/web_user/LCHS/~/web_user/LCHS/media.lottecinemavn.com/Media/WebAdmin/b3ae56c151ba4df6a963d064da5c06a4.png" id="imgLogo" alt="LOTTE CINEMA" title="LOTTE CINEMA" />
            </a>
        </h1>
    </div>

    <!-- GNB area -->
    <div class="gnb">
        <ul>
            <li class="active">
                <a href="ticketing.html" title="MUA VÉ">MUA VÉ</a>
                <div class="depth">
                    <ul>
                        <li class="active">
                            <a href="ticketing.html" title="MUA VÉ XEM PHIM">MUA VÉ XEM PHIM</a>
                        </li>
                        <li>
                            <a href="movie-schedule.html" title="LỊCH CHIẾU PHIM">LỊCH CHIẾU PHIM</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

    </div>
    <!-- //GNB area -->
</div>